<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="UTF-8"/>
		<title>Gerência de Filmes</title>
		<link rel="stylesheet" type="text/css" href="oficial.css">
	</head>
	<body background="iai.jpg" bgproperties="fixed" style="">
		<div id="type1">
			<div id="logo">
				<a href="" class="logo1">
          			<img src="logo.svg">
        		</a>
			</div>
			<div id="menu">
				<h1><a href="http://localhost:3000/">Gerência de Filmes</a></h1>
				<h1><a href="http://localhost:3000/categorias.html">Gerência de Categorias</a></h1>
			</div>
			<div id="mod">
				
			</div>

		</div>
	</body>
</html>
